<%- include("partials/header"); -%>
    <h1>CONTACT-ME</h1>
    <h3><%=contactContent %></h3>
    <a href="mailto:sec19cs033@sairamtap.edu.in"><p>Email: sec19cs033@sairamtap.edu.in</p></a>
<%- include("partials/footer"); -%>
